name: Fetch Repros

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - collect.py
      - .github/workflows/fetch.yml
  pull_request:
    branches: [ "main" ]
    paths:
      - collect.py
      - .github/workflows/fetch.yml
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install beautifulsoup4 requests
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Add reproducers
      run: |
        python3 collect.py
    - name: Commit & Push changes
      uses: actions-js/push@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
